version: "2.4"

services:

  # Map volumes for activities like loading old database data

  db:
    volumes:
      - ./local-dev/old_gs.db:/old_gs.db

  # Remap ports and other changes to your dev box.
  # Ports are always host port first, private container port second.
  # The container port stays the same.

  dbadmin:
    ports:
      # Make the database admin tool always available on port 9000
      - "9000:80"
